@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Mono" !important;
  background: #0f0f0f !important;
  color: #fff !important;
}

.whitespace {
  width: 100%;
  height: 100px;
  @media (max-width: 768px) {
    display: none;
  }
}

// Navigation
nav{
  width: 100%;
  background: #0f0f0f;
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  #brad{
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;

    @media(max-width: 768px) {
      margin-left: 24px;
    }

    a{
      color: #fff;
      transition: all 0.3s ease-out;
      // animation-delay: 0.3s;
      text-decoration: none;

      &:hover{
        text-decoration: none;
      }
    }
  }

  #menu{
    float: left;
    right: 80px;
    position: fixed;
    margin: 0;
    list-style: none;

    @media(max-width: 768px) {
      display: none;
    }

    li{
      padding-left: 40px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;

      a{
        color: #fff;
        text-decoration: none;

        @media(max-width: 768px) {
          font-size: 20px;
          font-weight: 300;
        }

        &:hover{
          text-decoration: none;
        }

        span{
          font-weight: 700;
        }
      }
    }

    #home{
      animation-delay: 0.3s;
    }

    #work{
      animation-delay: 0.4s;
    }

    #about{
      animation-delay: 0.5s;
    }

    #contact{
      animation-delay: 0.6s;
    }
    // End Contact
  }

  #toggle{
    position: absolute;
    right: 30px;
    top: 20px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;

    @media(max-width: 768px) {
      visibility: visible;
      opacity: 1;
      margin-top: 6px;
      margin-right: 4px;
    }

    .span{

    }
  }

}

.resize{
  z-index: 1;
  top: 0;
  position: fixed;
  background: #0f0f0f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;

  &.active{
    visibility: visible !important;
    opacity: 1;
  }

  @media(min-width: 768px) {
    visibility: hidden !important;
  }

  .close-btn{
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
  }

  #menu{
    // height: 90px;
    // position: absolute;
    // left: 45%;
    // transform: translateX(-40%);
    // text-align: center;
    // display: table-cell;
    // vertical-align: center;
    // padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    transform: translate(0, 65%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
    padding: 0;

    li{
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-out;

      &:nth-child(1){
        // margin-top: 140px;
      }

      a{
        color: #fff;
        text-decoration: none;

        @media(max-width: 768px) {
          font-size: 20px;
        }

        @media(max-width: 425px) {
          font-size: 20px;
        }

        &:hover{
          text-decoration: none;
        }

        span{
          @media(max-width: 768px) {
            font-weight: bolder;
          }
        }
      }
    }
  }
}

// Hero
.hero{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .header{
    .Typewriter{
      @media screen and (max-width: 425px){
        margin: 0 30px;
      }
      .Typewriter__wrapper{
        font-weight: lighter;
        text-align: center;
        letter-spacing: -2px;
        font-size: 40px;
        line-height: 58px;
        word-wrap: break-word;
        @media screen and (max-width: 768px) {
          font-size: 26px;
          text-align: center;
        }
        @media screen and (max-width: 425px){
          
        }
      }

      .Typewriter__cursor{
        font-size: 55px;
        @media screen and (max-width: 768px) {
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }
}

.scroll-down{
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fadeMoveDown 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fadeMoveDown {
  0%{
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

.sect_project{
  width: 100%;
  position: relative;
  @media(max-width: 768px){
    text-align: center;
  }

  h6{
    text-align: center;
    font-size: 1rem;
    margin-top: 0;

    @media (max-width:768px) {      
      margin-bottom: 0.5rem;
    }
  }

  .vertical{
    margin-top: 40px;
    border-left: 1px solid #fff;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    @media(max-width: 768px){
      display: none;
    }
  }

  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @media(max-width: 768px){
      width: 90%;
      margin: 14px auto;
      display: inline-block;
      justify-content: unset;
      align-items: unset;
      flex-wrap: unset;
    }
  }

  .project1{
    .w_left{
      width: 66.666667%;
      @media(max-width: 768px){
        width: 100%;
        display: none;
      }
    }

    .w_right{
      width: 33.333333%;
      @media(max-width: 768px){
        width: 100%;
      }
      .prj1{
        position: relative;
        // animation-delay: 0.2s;
        &::after{
          content: "timeless flow.";
          font-family: "Roboto Mono";
          font-size: 36px;
          position: absolute;
          color: #fff;
          display: block;
          top: 8%;
          left: -53%;
          right: 0;
          bottom: 0;
          @media(max-width: 768px){
            display: none;
          }
        }
        img{
          width: 100%;
          height: 500px;
          object-fit:cover;
          // animation-delay: 0.3s;  
        }
      }
    }
  }
  // End Project 1

  .project2{
    .w_left{
      width: 50%;
      @media(max-width: 768px){
        width: 100%;
      }
      .prj2{
        position: relative;
        // animation-delay: 0.2s;
        &::after{
          content: "foretime.";
          font-family: "Roboto Mono";
          font-size: 36px;
          position: absolute;
          color: #fff;
          display: block;
          top: 80%;
          left: 90%;
          right: 0;
          bottom: 0;
          @media(max-width: 768px){
            display: none;
          }
        }
        img{
          width: 100%;
          height: 500px;
          object-fit:cover;
          // animation-delay: 0.3s;
        }
      }
    }

    .w_right{
      width: 50%;
      @media(max-width: 768px){
        display: none;
        width: 100%;
      }
    }
  }
  // End Project 2

  .project3{
    .w_left{
      width: 58.333333%;
      @media(max-width: 768px){
        width: 100%;
        display: none;
      }
    }

    .w_center{
      width: 33.333333%;
      @media(max-width: 768px){
        width: 100%;
      }
      .prj3{
        position: relative;
        // animation-delay: 0.2s;
        &::after{
          content: "never again.";
          font-family: "Roboto Mono";
          font-size: 36px;
          position: absolute;
          color: #fff;
          display: block;
          top: 80%;
          left: -50%;
          right: 0;
          bottom: 0;
          @media(max-width: 768px){
            display: none;
          }
        }
        img{
          width: 100%;
          height: 500px;
          object-fit:cover;
          // animation-delay: 0.3s;
        }
      }
    }

    .w_right{
      width: 8.333333%;
      @media(max-width: 768px){
        display: none;
        width: 100%;
      }
    }
  }
  // End Project 3

  .project4{
    .w_left{
      width: 8.333333%;
      @media(max-width: 768px){
        display: none;
        width: 100%;
      }
    }

    .w_center{
      width: 41.666667%;
      @media(max-width: 768px){
        width: 100%;
      }
      .prj4{
        position: relative;
        // animation-delay: 0.2s;
        &::after{
          content: "departure.";
          font-family: "Roboto Mono";
          font-size: 36px;
          position: absolute;
          color: #fff;
          display: block;
          top: 10%;
          left: 88%;
          right: 0;
          bottom: 0;
          @media(max-width: 768px){
            display: none;
          }
        }
        img{
          width: 100%;
          height: 500px;
          object-fit:cover;
          // animation-delay: 0.3s;
        }
      }
    }

    .w_right{
      width: 50%;
      @media(max-width: 768px){
        display: none;
        width: 100%;
      }
    }
  }
  // End Project 4
}

// Footer
.footer{
  .container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      max-width: 720px;
    }

    @media screen and (max-width: 480px) {
      max-width: 100%;
    }

    .collab{
      text-align: right;
      @media screen and (max-width: 768px) {
        text-align: center;
      }

      p{
        font-weight: lighter !important;
        margin-bottom: 20px;
      }
    }

    .hr{
      background: rgba(255, 255, 255, 0.2);
      height: 1px;
    }

    .info{
      .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 768px){
          
        }

        .wd{
          width: 32%;

          @media screen and (max-width: 768px){
            width: 100%;
          }
        }

        #personal{
          @media screen and (max-width: 768px) {
            text-align: center;
          }
          p{
            color: grey;
            font-weight: lighter;
            font-size: 18px;
          }

          h4{
            font-size: 18px;
            font-weight: lighter;
            // animation-delay: 0.2s;
          }
        }

        #media{
          text-align: right;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
          p{
            color: grey;
            font-weight: lighter;
            // animation-delay: 0s;
          }

          ul{
            list-style: none;
            margin: 24px 0;
            @media screen and (max-width: 768px) {
              // margin: 0 0 0 -22px;
              margin: 24px 0;
              padding: 0;
            }
            li{
              display: inline-block;
              font-weight: lighter;
              color: #fff;
              font-size: 18px;
              padding-left: 20px;
            }

            #fb{
              // animation-delay: 0.4s;
              &::before{
                content: "";
                display: inline-block;
                border-radius: 100%;
                height: 4px;
                width: 4px;
                margin-right: 6px;
                background: #3b5998;
              }
            }

            #ig{
              // animation-delay: 0.6s;
              &::before{
                content: "";
                display: inline-block;
                border-radius: 100%;
                height: 4px;
                width: 4px;
                margin-right: 6px;
                background: #fcaf45;
              }
            }

            #tw{
              // animation-delay: 0.8s;
              &::before{
                content: "";
                display: inline-block;
                border-radius: 100%;
                height: 4px;
                width: 4px;
                margin-right: 6px;
                background: #55acee;
              }
            }

            #yt{
              // animation-delay: 1s;
              &::before{
                content: "";
                display: inline-block;
                border-radius: 100%;
                height: 4px;
                width: 4px;
                margin-right: 6px;
                background: #c4302b;
              }
            }
            // End YT
          }
        }

        #address{
          text-align: right;
          @media screen and (max-width: 768px) {
            text-align: center;
          }
          p{
            color: grey;
            font-weight: lighter;
            // animation-delay: 0s;
          }
          
          h4{
            font-size: 18px;
            font-weight: lighter;
            // animation-delay: 0.2s;
          }
        }
        // End Address
      }
    }

  }
}
